@charset "UTF-8";

/* header */
#header {
    padding: 20px 0px 10px 0px;
}
#footer {
	margin-top: 10px;
}
#header > a{
	float: left;
	margin: 10px ;
}
#header ul {
	float: right;
}
#header ul>li {
	display: inline-block;
    margin: 25px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #01426a;
}
#header ul>li a{
    color: #01426a;
}
/* button */
button {
  padding: 0px 5px 3px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* aside */
#container #aside {
	float: left;
	width: 200px; 
	min-height: 688px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	color: #fff;
}
#container #aside>h2 {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	background-color: #01426a;
	padding: 20px 0px 20px 0px;
	margin-bottom: 10px;
}
#container #aside>ol>li {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
#container #aside>ol>li:hover {
	background-color: #f8f8f8;
}
#container .contents-wrapper {
    float: right;
    width: 928px;
    min-height: 628px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 30px;
}

/* 선수 정보 리스트 */
.contents-wrapper h2{
	font-size: 18px;
	font-weight: 600;
	margin: 15px 10px 25px 10px;
}
.contents-wrapper #athlete-list tr th,
.contents-wrapper #athlete-list tr td{
	padding: 10px 20px;
	text-align: left;
	vertical-align: middle;
	height: 30px;
	border-bottom: 1px solid #e5e5e5;
}
.contents-wrapper #athlete-list tr th{
	border-bottom: 3px solid #e5e5e5;
}
.contents-wrapper #athlete-list tr td{
	width: 210px;
	position: relative;
}
.contents-wrapper #athlete-list tr td .tipModify{
    position: absolute;
    top: -12px;
    right: -15px;
    padding: 5px 7px;
    background-color: #01426a;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}
.contents-wrapper #athlete-list tr td .tipShowRecord{
	position: absolute;
    top: -12px;
    left: 15px;
    padding: 5px 7px;
    background-color: #01426a;
    color: #fff;
    font-size: 13px;
}
.contents-wrapper #athlete-list tr td.td-icon{
	width: 49px;
	text-align: right;
}
.contents-wrapper #athlete-list tr td.td-icon i {
	font-size: 18px;
	cursor: pointer;
}


/* 선수 정보 모달 */
#athleteInfo .modal-wrapper .modal-content h2 {
	padding-left: 55px;
	text-align: left;
	color: #01426a;
}
#athleteInfo .modal-wrapper .modal-content p{
    font-size: 25px;
    position: absolute;
    top: 25px;
    right: 35px;
	color: #01426a;
	cursor: pointer;
}
#athleteInfo .modal-wrapper .modal-content div{
	margin: 40px;
	padding: 25px 0px;
	border: 1px solid #01426a;
	position: relative;
}
#athleteInfo .modal-wrapper .modal-content div table .tr-pwCheck{
	visibility:hidden;
}
#athleteInfo .modal-wrapper .modal-content button{
	width: 90px;
    height: 30px;
    padding: 5px;
    background-color: #01426a;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
#athleteInfo .modal-wrapper .modal-content #btn-cancel{
    bottom: 30px;
    right: 130px;
    background: transparent;
    color: #01426a;
}
/* 선수 등록 */
#container .contents-wrapper .signUp-wrapper{
	margin: 40px;
	padding: 25px;
	border: 1px solid #01426a;
}
#container .contents-wrapper form .signUp-wrapper table,
#athleteInfo .modal-wrapper .modal-content div table {
	margin: auto;
}
#container .contents-wrapper form .signUp-wrapper table th,
#container .contents-wrapper form .signUp-wrapper table td,
#athleteInfo .modal-wrapper .modal-content div table th,
#athleteInfo .modal-wrapper .modal-content div table td {
	padding: 5px;
	vertical-align: middle;
}
#container .contents-wrapper form .signUp-wrapper table th,
#athleteInfo .modal-wrapper .modal-content div table th,
.result-wrapper table tr th,
.record-wrapper table tr th {
	width: 75px;
    height: 50px;
    padding: 0px 20px;
    text-align: right;
    color: #01426a;
	font-weight: 700;
}
#container .contents-wrapper form .signUp-wrapper table td button{
	margin-left: 10px;
}
#container .contents-wrapper form .signUp-wrapper table td,
#athleteInfo .modal-wrapper .modal-content div table td,
.result-wrapper table tr td,
.record-wrapper table tr td {
    text-align: left;
}

#container .contents-wrapper form .signUp-wrapper table td p{
	font-size: 13px;
}
#container .contents-wrapper form .signUp-wrapper table td input, 
#container .contents-wrapper form .signUp-wrapper table th select,
#athleteInfo .modal-wrapper .modal-content div table th select,
#athleteInfo .modal-wrapper .modal-content div table td input {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}
#container .contents-wrapper form .signUp-wrapper table th select,
#athleteInfo .modal-wrapper .modal-content div table th select{
	margin: 0px 5px;
	padding: 5px;
	width: 135px;
}
#container .contents-wrapper form .signUp-wrapper table th select{
	margin: 0px 18px 0px 5px;
}
#container .contents-wrapper form .signUp-wrapper table td input[type="radio"]{
	display: none;
}
#container .contents-wrapper form .signUp-wrapper table td label{
	display: inline-block;
    width: 75px;
    height: 20px;
    padding: 8px 5px 5px 5px;
    border: 1px solid #01426a;
    border-radius: 16px;
    color: #01426a;
    font-weight: 700;
    text-align: center;
}
#athleteInfo .modal-wrapper .modal-content div table tr:first-child{
	text-align: left;
}
#athleteInfo .modal-wrapper .modal-content div table{
	margin: auto 20px;
}
#container .contents-wrapper form .signUp-wrapper table td input[type="radio"]:checked + label {
  background: #01426a;
  color: #fff;
  font-weight: 700;
}
#container .contents-wrapper form .signUp-wrapper table td input[type="number"],
#athleteInfo .modal-wrapper .modal-content div table td input[type="number"] {
	width: 70%;
	margin-right: 5px;
}
#container .contents-wrapper form button[type="submit"]{
	width: 200px;
	height: 40px;
	margin: 0px 365px;
}

/* 측정 기록 보기 */
#aside #createGraph{
	width: 70%;
    height: 35px;
    margin: 5px 30px;
    padding: 0px;
    text-align: center;
    font-weight: 600;
    color: #01426a;;
    background-color: #f8f8f8;
    border-radius: 5px;
}
.result-wrapper table:first-child,
.record-wrapper table{
    margin: 30px 0px 0px 30px;
}
.result-wrapper table thead tr th,
.result-wrapper table tbody tr td,
.record-wrapper table tr td{
	text-align: center;
}
.result-wrapper table:first-child tr td,
.record-wrapper table tr td{
	width: 150px;
}
.result-wrapper table tr th,
.result-wrapper table tr td,
.record-wrapper table tr th,
.record-wrapper table tr td {
	height: 40px;
	vertical-align: middle;
	border: 1px solid #f8f8f8;
}
.result-wrapper .firstResult, .result-wrapper .secondResult{
	width: 30%;
    margin: 0px 0px 0px 130px;
    float: left;
}
.result-wrapper table thead tr th,
.result-wrapper table tbody tr th,
.result-wrapper table tbody tr td
.record-wrapper table tr th,
.record-wrapper table tr td{
	border: 1px solid #f8f8f8;
}
.result-wrapper table thead tr:first-child th,
.record-wrapper form table tr th{
	background-color: #f8f8f8;
}
/* 기록하기 */
.record-wrapper form table{
	margin: 60px auto;
}
.record-wrapper form table tr th,
.record-wrapper form table tr td{
	width: 85px;
    padding: 0px;
    text-align: center;
}
.record-wrapper form table tr td input{
	width: 75px;
    text-align: center;
}

/* 그래프 */
#graph {
    width: 85%;
    height: 300px;
    background-color: #f8f8f8;
    float: left;
    margin: 30px 70px;
}

/* clearfix */
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}


