@charset "UTF-8";

/* 리스트 블릿 초기화 */
ul, ol {list-style-type: none;}

/* a태그 초기화 */
a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:active {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; color: #000000;}

/* 전체 레이아웃 */
body {
	width: 100%;
	background-image: url(../image/running.jpg);
    background-size: 100%;
}
#loginForm form{
	position: absolute;
    top: 35%;
    left: 35%;
	width: 500px;
	height: 160px;
	border: 0.5px solid #fff;
	padding: 60px 7px 50px 7px;
}

/* 로그인 버튼영역 */
#loginForm .button-area {
	margin: 15px 0px 0px 0px;
	text-align: center;
}

/* 로그인 버튼 */
#loginForm .button-area button {
    width: 100px;
    padding: 7px;
    cursor: pointer;
   	background-color: transparent;
	color: #ffffff;	
    opacity: 0.6;
    border-radius: 5px;
    border: 1px solid #fff;
    font-weight: 600;
}

/* 로그인 텍스트정렬 */
#loginForm .form-group .form-text {
    display: inline-block;
    width: 150px;
    text-align: right;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}

/* 로그인 실패 텍스트 중앙 정렬 */
#loginForm .center {
    text-align: center;
 	font-size: 12px;
    color: #b0b0b0;
}

/* 로그인 텍스트정렬 */
#loginForm form input {
	padding: 5px;
	margin-bottom: 10px;
	background-color: transparent;
	color: #ffffff;
    border: 1px solid #fff;
	border-radius: 5px;
}
#container .wrapper #loginForm div a{
	padding: 15px;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: transparent;
	color: #ffffff;
	font-size: 105%;
	font-weight: 600;
	position: absolute;
	top: 50%;
	left: 42%
}