@charset "UTF-8";

/* 초기화 */
* {margin: 0px; padding: 0px;}
body {
  height: 600px;
  font-size: 15px;
  font-family: "맑은 고딕", "돋음";
  text-align: left;
}
/* 리스트 블릿 초기화 */
ul, ol {list-style-type: none;}

/* a태그 초기화 */
a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:active {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; color: #000000;}

/* 전체 레이아웃 */
#contents {width: 100%;}
#contents #aside {width: 160px; float: left;}

/* header */
#header ol {
  float: right;
}
#header ol>li {
  margin: 0px 0px 0px 10px;
  float: left;
}

/* button */
button {
  padding: 0px 5px 3px 10px;
  background-color: #ffffff;
  border: none
}

/* aside */
#contents #aside {
  width: 170px; height: 600px;
  background-color: #01426a;
  color: #ffffff;

}
#contents #aside>h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0px 15px 0px
}
#contents #aside>ol>li {
  padding: 5px 0px 10px 20px;
  font-size: 13px;
  text-align: left;
}

#contents #table {
  padding: 80px 50px 0px 250px;
  font-size: 13px;
}

th {
  text-align: center;
  height: 30px;
}

/* 그래프 */
#graph {
  padding-top: 16px;
}



/* clearfix */
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}


